/* Layout */
/* body {
  background: url(../imagens/capa.png),
              url(../imagens/ruido.png),
              linear-gradient(100deg, #0499f2 0%, #26f596 75%);
              background-attachment: fixed;
              font-family: Helvetica, Arial, sans-serif;
} */

body {
  background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
  background-color: rgb(41, 65, 171);
  background-size: 175%;
  background-position: 46% 4%;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 846px;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

html, body, #home {
  height: 100%;
}

/* Barra de navegação */

nav.navbar-transparente {
  padding: 10px 0px;
  background: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link {
  color: #FFFFFF;
  font-weight: 700;
  padding: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #1DB954;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, .5);
  border-color: rgba(255, 255, 255, .1);
}

.divisor {
  width: 1px;
  background: white;
  margin: 22px 15px;
}

/* capa */
.capa {
  text-align: center;
}

.btn-custom {
  font-size: inherit;
  font-weight: 700;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  text-transform: uppercase;
  transition: background 0.4s, color 0.4s;
  padding: 10px 32px;
  margin: 10px;
}

.btn-verde {
  color: #2941AB;
  background-color: #1ed760;
}

.btn-verde:hover {
  color: white;
  background-color: #18ac4c;
}

.btn-transparente {
  color: white;
  border: 2px solid white;
}

.btn-transparente:hover {
  color: #1ed760;
  background-color: white;
}

.carousel-control-next, .carousel-control-prev {
  width: 2%;
}

/* Estrutura de conteúdos */
#servicos {
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.albuns {
  padding: 10px 0;

}

.rotacionar {
  -ms-transform: rotate(30deg); /* IE 9 */
  -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
  transform: rotate(30deg);
  padding-left: 80px;
}

/* Roda pé */
footer {
  background: #000;
  padding: 50px 0px 20px 0px;
  position: relative;
}

footer h4 {
  color: #919496;
  font-size: 0.8em;
  text-transform: uppercase;
}

footer .navbar-nav a {
  color: white;
  font-size: 0.8em;
}

footer .navbar-nav a:hover {
  color: #9bf0e1;
  font-size: 0.8em;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: right;
  margin: 0 10px;
}

/* Tipografia */
h1 {
  font-weight: 900;
  letter-spacing: -0.03em;
  margin-bottom: 50px;
  color: #1ed760;
}

h2 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: -0.04em;
}

h3 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: -0.04em;
}

#home p {
  color: #1ed760;
  padding: 0px 0px 1em;
  font-size: 1em;
  font-weight: 400;
}

#servicos h2, h3 {
  color: #1ed760;
}

#servicos p {
  color: black;
}

#recursos h3 {
  color: #1ed760;
}

#recursos h2, p {
  color: white;
}

#recursos {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 575.98px) {
  body {
    background-image: url(https://www-growth.scdn.co/static/home/bursts-mobile.svg);
    background-position: center top 30%;
    background-repeat: no-repeat;
    background-size: 195%;
    height: 100vh;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .btn-custom {
    margin: 10px 15px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    background-image: url(https://www-growth.scdn.co/static/home/bursts-mobile.svg);
    background-position: center top 30%;
    background-repeat: no-repeat;
    background-size: 195%;
    height: 100vh;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
  }

  h1 {
    font-size: 3em;
  }

  .btn-custom {
    margin: 10px 15px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    background-image: url(https://www-growth.scdn.co/static/home/bursts-mobile.svg);
    background-position: center top 30%;
    background-repeat: no-repeat;
    background-size: 195%;
    height: 100vh;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .navbar-light .navbar-nav .nav-link {
    padding: 10px;
  }

  .divisor {
    margin: 14px 15px;
  }

  h1 {
    font-size: 4em;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  h1 {
    font-size: 5em;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 9em;
  }
}
